@CHARSET "UTF-8";
body{
	 background-color:#FFFFCC
}

html{
	position:relative;left:200mm
}

input{
	color:white;
	background-color:black;
	width:100px;
	height:50px;
}

h1{
	color:white;
	background-color:#66CCFF;
	padding-left:40px;
	width:50mm;
	position:relative;right:5mm;
}

h2.normal{
	color:blue;
}

h2.rare{
	color:red;
}