@CHARSET "UTF-8";
body{
	 background-color:#FFFFCC
}

html{
	position:relative;left:200mm
}

h1{
	color:white;
	background-color:#66CCFF;
	padding-left:40px;
	width:105mm;
	position:relative;right:25mm;
}

input{
	color:white;
	background-color:black;
	width:100px;
	height:50px;
	position:relative;top:10mm;
}

strong{
	color:red;
	position:relative;right:10mm;
}