<
 @charset "UTF-8";

>
body {
	background-color: #f5deb3;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	color: #333;
	font-size: 1.6em;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	position: relative;
	background: #dfefff;
	box-shadow: 0px 0px 0px 5px #dfefff;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
	color: #454545;
}

h1:after {
	position: absolute;
	content: '';
	left: -7px;
	top: -7px;
	border-width: 0 0 15px 15px;
	border-style: solid;
	border-color: #fff #fff #a8d4ff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.error {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #fd9535; /*êF*/
	border-radius: 4px; /*äpÇÃä€Ç›*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #d27d00; /*ê¸êF*/
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: #668ad8;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 50%;
	border: double 4px #668ad8;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	transition: .6s;
}

.btn:hover {
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.square_btn35 {
	display: inline-block;
	position: relative;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #000;
	transition: .4s;
}

.square_btn35:hover {
	color: #ff7f7f;
}

.square_btn35:before,.square_btn35:after {
	position: absolute;
	top: 0;
	content: '';
	width: 8px;
	height: 100%;
	display: inline-block;
}

.square_btn35:before {
	border-left: solid 1px #ff7f7f;
	border-top: solid 1px #ff7f7f;
	border-bottom: solid 1px #ff7f7f;
	left: 0;
}

.square_btn35:after {
	content: '';
	border-top: solid 1px #ff7f7f;
	border-right: solid 1px #ff7f7f;
	border-bottom: solid 1px #ff7f7f;
	right: 0;
}

.deg_btn {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 0 30px;
	font-size: 19px;
	height: 40px;
	line-height: 40px!;
	vertical-align: middle;
	background: #51587b;
	font-size: 20px;
	color: rgb(255, 255, 255);
	transition: .4s;
}

.deg_btn:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 21px white;
	border-bottom: solid 41px transparent;
	z-index: 1;
	transition: .4s;
}

.deg_btn:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 21px transparent;
	border-bottom: solid 41px white;
	z-index: 1;
	transition: .4s;
}

.deg_btn:hover:before,.deg_btn:hover:after {
	border-left-width: 25px;
}

.deg_btn:hover {
	background: #2c3148;
}

.square_btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #f7f7f7;
	border-left: solid 6px #ff7c5c; /*ç∂ê¸*/
	color: #ff7c5c; /*ï∂éöêF*/
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.square_btn:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}