@CHARSET "UTF-8";
body{
	 background-color:#FFFFCC;
	 margin:0px;
	 pedding:0px;
}

html,body{
	height:100%;
	width:100%;
}

#main{
	margin-left:auto;
	margin-right:auto;
	width:40%;

}

h1{
	color:white;
	background-color:#66CCFF;
	padding-left:40px;
	width:45mm
}

input{
	color:white;
	background-color:black;
	width:100px;
	height:50px;
}