@CHARSET "UTF-8";
body{
	 background-color:#FFFFCC;
	 margin:0px;
	 pedding:0px;
}

html,body{
	height:100%;
	width:100%;
}

#main{
	margin-left:auto;
	margin-right:auto;
	width:40%;

}

table{
	position:relative;right:15mm;
}

input.newUser{
	color:white;
	background-color:black;
	width:100px;
	height:50px;
}

h1{
	color:blue;
}

h2{
	color:red;
	font-style:italic;
}

strong{
	color:red;
}

strong.error{
	position:relative;right:15mm;
}